    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/credit.css" />

    <script>
        window.onload = function () {
            changeTab(4)
        }
    </script>

    <body>
        <div style="max-width:2000px;">
            <div class="credit_container w3-padding-32">
                <h2>EECS113 UCI 2019 group 18 Member:</h2>
                <ul>
                    <li class="list_member">Khoi Trinh</li>
                    <li class="list_member">Aung Thu</li>
                    <li class="list_member">Jason Duong</li>
                </ul>
            </div>

            <div class="credit_container" style="top-padding:20px">
                <h2>External Resources:</h2>
                    <ul>
                        <li class="list_member"><a
                                href="https://github.com/google/material-design-icons/blob/master/LICENSE">Google icon
                                themes </a></li>
                        <li class="list_member"><a
                                href="https://colorlib.com/wp/css3-table-templates/">Table by PableraShow</a></li>
                        <li class="list_member"><a
                                href="https://github.com/chartjs/Chart.js">Chart by chart.js</a></li>
                        <li class="list_member"><a
                                href="https://www.w3schools.com/w3css/default.asp">W3 help file</a></li>
                    </ul>
            </div>
        </div>
    </body>