@model IEnumerable<eecs113_final_project_webapp.Models.ActionEvent>
    @{
    ViewData["Title"] = "Home Page";
    }

    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script>
        window.onload = function () {
            changeTab(3)
        }
    </script>

    <body>
        <div style="max-width:2000px;">
            <div class="container w3-padding-32">
                <canvas id="myChart"></canvas>
        <script type="text/javascript" src="~/js/graph.js" asp-append-version="true"></script>
            </div>
        </div>
    </body>