<!-- Header -->
<!-- <header class="w3-container w3-red w3-center" style="padding:128px 16px">
        <h1 class="w3-margin w3-jumbo">START PAGE</h1>
        <p class="w3-xlarge">Template by w3.css</p>
        <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button>
    </header> -->



<link rel="stylesheet" href="~/css/table.css" />

<body>
    <div id="main_content" style="max-width:2000px;">
        <div id="main_content1" class="container w3-padding-32">
            @model IEnumerable<eecs113_final_project_webapp.Models.PHLogger>
                @{
                ViewData["Title"] = "Home Page";
                }
                <table class="table_container">
                    <h1><span></span>Recent Events<span></span>
                        <thead>
                            <tr>
                                <th align="center">Type</th>
                                <th align="center">Time</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.PHlid)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                        </tr>
                        }
                </table>

                <table class="table_container">
                    <h1><span></span>Hourly Data<span></span>
                        <thead>
                            <tr>
                                <th align="center">Type</th>
                                <th align="center">Value</th>
                            </tr>
                        </thead>
                        <tr>
                            <td align="center">
                                Temperature(C)
                            </td>
                            <td align="center">
                                40C
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                Humidity(%)
                            </td>
                            <td align="center">
                                40%
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                Water Amount(L)
                            </td>
                            <td align="center">
                                40L
                            </td>
                        </tr>
                </table>
        </div>
    </div>
</body>

<!-- <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> -->